.hina-mincho-regular {
  font-family: "Hina Mincho", serif;
  font-weight: 400;
  font-style: normal;
}

.react-flow__node-person {
  padding: 4px;
  border-radius: var(--xy-node-border-radius, var(--xy-node-border-radius-default));
  font-size: 16px;
  color: var(--xy-node-color, var(--xy-node-color-default));
  text-align: center;
  border: var(--xy-node-border, var(--xy-node-border-default));
  background-color: var(--xy-node-background-color, var(--xy-node-background-color-default));
}